
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/utils/auth.json
/utils/auth.ui.json
.env
.env.*
!.env.example
.playwright-mcp
.github/agents/